<div class="jumbotron">
  <h1>Contact List</h1>
  <p>
    Manage your contacts anywhere!
  </p>
  <p>
    <%= link_to 'Create your account', new_user_path, class: 'btn btn-primary btn-lg' %>
  </p>
</div>
