<div class="jumbotron">
  <h2>Show</h2>

  <p>Id: <%= @contact.id %></p>
  <p>Name: <%= @contact.name %></p>
  <p>Phone: <%= @contact.phone %></p>

  <%= link_to 'Back', contacts_path, class:"btn btn-primary" %>
</div>
